{% extends "base.html" %}
{% block title %}Cashier Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>Cashier Dashboard</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5>Total Sales Today</h5>
          <p>{{ total_sales_today }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <a href="{{ url_for('new_sale') }}" class="btn btn-primary mt-3">Start New Sale</a>
    </div>

    <div class="col-md-12 mt-4">
      <h4>My Recent Sales</h4>
      <table class="table table-striped">
        <thead><tr><th>ID</th><th>Customer</th><th>Total</th><th>Date</th></tr></thead>
        <tbody>
          {% for sale in recent_sales %}
            <tr>
              <td>{{ sale.id }}</td>
              <td>{{ sale.customer.name }}</td>
              <td>{{ sale.total }}</td>
              <td>{{ sale.date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<script src="{{ url_for('static', filename='pos.js') }}"></script>
{% endblock %}
