<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IMS System</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>

    <!-- navbar -->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg fixed-top" 
     style="background-color: #e3f2fd;" 
     data-bs-theme="light">
       <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="static\img\logo.png" alt="Logo" width="90" height="40" class="d-inline-block align-text-top">
      Inventory Management System
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('dashboard') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        
      
        
      </ul>
    </div>
  </div>
</nav>
    </div>

   <div class="d-flex flex-grow-1">
     <!-- Sidebar --> 
      <div class="bg-light border h-100 p-3 position-fixed bottom-0 " style="top: 56px; bottom: 0; width: 250px;"> 
        <ul class="nav flex-column"> 
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('dashboard') }}">Dashboard</a></li> <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_dashboard') }}">Inventory</a>
            </li> 
            <li class="nav-item"><a class="nav-link" href="{{ url_for('sales_history') }}">Sales</a></li> </ul> </div>
     
     <!-- Cards -->

  <div class="container" style="margin-left:250px; padding-top:70px;">
  <!-- First row with 3 cards -->
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card mt-5 bg-primary text-white h-100 custom-card">
        <div class="card-body">
          <h5 class="card-title">Total Sales</h5>
          <p class="card-text">{{ total_sales }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mt-5 bg-success text-white h-100 custom-card">
        <div class="card-body">
          <h5 class="card-title">Total Products</h5>
          <p class="card-text">{{ total_products }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4"> 
      <div class="card mt-5 bg-danger text-white h-100 custom-card"> <div class="card-body"> 
        <h5 class="card-title">Low Stock Items</h5>
         <p class="card-text">{{ low_stock }}</p>
         </div> 
        </div>
      </div>
  </div>

  <div class="row g-4 mt-4"> 
    <div class="col-md-12"> 
      <div class="card mt-5 border-danger"> 
        <div class="card-body"> 
          <h5 class="card-title text-danger">Low Stock Details</h5> <ul class="list-group list-group-flush"> 
            {% for product in low_stock_products %} 
            <li class="list-group-item"> {{ product.name }} — Stock: {{ product.stock }} </li>
             {% else %} 
             <li class="list-group-item">No low stock items 🎉</li> {% endfor %}
             </ul>
             </div> 
            </div>
           </div> 
          </div>

  <!-- Second row with 1 card -->
  <div class="row g-4 mt-4">
    <div class="col-md-4">
      <div class="card mt-5 bg-warning h-100 custom-card ">
        <div class="card-body">
          <h5 class="card-title">Total Purchase</h5>
          <p class="card-text">{{ total_purchase }}</p>
        </div>
      </div>
    </div>
  </div>
</div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>